body {
    background-color: #141414;
    color: #f1ede7;
    font-family:monospace;
    overflow: auto;
}
.main {
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
}
#clock {
    font-size: 40px;
    margin: 0 0 10px;
    user-select: none;
    cursor: move;
    position: absolute;
    transform-origin: center;
    transition: transform 0.2s;
}

.keyboard{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 900px;
}
  
.row {
  width: 100%;
  height: 60px;
}
.two{
  margin: 0 0 5px 85px;
}
.three{
  margin: 0 0 0 100px;
}
.four{
  margin: 5px 0 0 0;
}
.five{
  margin: 10px 0 0 60px;
}

button {
  color: #f1ede7;
  font-weight: 500;
  width: 55px;
  height: 55px;
  border: none;
  background: #262626;
  font-size: 15px;
  margin-left: 5px;
  outline: none;
  font-family: monospace;
  border-radius: 20%;
  cursor: pointer;
}

.shift {
  width: 125px;
  border-radius: 10px;
}

.last {
  width: 80px;
  border-radius: 10px;
}

.space {
  width: 398px;
  border-radius: 10px;
}

.ExportImportButtons{
  margin-top: 20px;
}

.settings-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
.settings-btn button:active{
    color: #141414;
    background-color: #f1ede7;
  }
.settings-btn button{
  font-size: 24px;
}

div#oneko:hover{
  cursor: grab;
}

.side-panel {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px #7c7c7c solid;
}
#themeSelector {
  width: 100px;
  margin-top: 10px;
}

/*DESCANSO DE TELA*/
#screensaver {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screensaver-clock {
  font-size: 15vw;
}
